{% extends 'base.html' %} {% block title %} {{ category.name }}
    {{ category.author }} {% endblock title %} {% block content %}
    <h2>Detalhes da categoria {{ category.name }}: {{ category.description }} - {{ category.author }}</h2>
    
    <section>
        <div class="lista-de-cards">
            {% for post in category.songs.all %}
                <div class="card">
                    <a href="{% url 'songs:detail' post.id %}">
                        <img src="{{ post.cover }}" alt="Capa do título {{ post.title }}">
                    </a>
                    <p>{{ post.title }} ({{ post.year }})</p>
                </div>
            {% endfor %}
        </div>
    </section>

    {% endblock content %}